.bracket {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.bracket .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bracket .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bracket .box {
  border: 1px solid white;
  width: 8rem;
  height: 4rem;
  margin: 2rem;
  padding: 0;
  text-align: center;
  line-height: 4rem;
}

.bracket .versus {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
