@import url(./color.css);

.game-rooms {
  width: 100%;
  flex: 1;
  margin-bottom: 1rem;
  margin-right: 1rem;
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(12rem, auto));
  grid-template-rows: repeat(5, minmax(4rem, auto));
  gap: 0.8rem;
  padding: 0.5rem;
}

.game-room {
  border: 1px solid var(--white);
  border-radius: 0.5rem;
  /* margin: 0.2rem; */
  padding: 0.5rem;
  transition: transform 0.3s ease;
}

.game-room:hover {
  z-index: 1;
  transform: scale(1.03);
}
