.profile-config-main {
  flex: 1;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 62px;
}

.top > h3 {
  padding: 16px 0px;
}

.profile-config-main > .bottom {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.profile-config-list {
  width: 90%;
  display: flex;
  flex-flow: column nowrap;
}

.profile-config-list > .item {
}

.config-btn {
  width: 12rem;
  height: 2.375rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  margin: 0.5rem;
}

.config-btn > img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.625rem;
}
