.profile-change-btn {
  width: 13.5rem;
  height: 2rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border-radius: 0.5rem;
  padding-left: 1rem;
  margin: 0.5rem;
}

.profile-change-btn > img {
  margin-right: 0.5rem;
  width: 1rem;
  height: 1rem;
}
