@import "./reset.css";
@import "./font.css";
@import "./color.css";

/* body {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
} */

.two-factor-auth-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.mention {
  font-family: quantico;
  font-size: 2.25rem;
  text-align: center;
  margin-bottom: 19px;
}

.otp {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  gap: 18px;
}

.otp .input {
  width: 60px;
  height: 60px;
  font-size: 2.25rem;
  text-align: center;
  caret-color: transparent;
  pointer-events: none;
}

.otp .input:focus {
  outline: none;
}

.otp .bg-gray30 {
  background-color: var(--gray30);
}

.otp .bg-gray20 {
  background-color: var(--gray20);
}

.timer .expired {
  color: red;
}

.two-factor-auth-page > .bottom {
  width: 450px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

.timer {
  font-size: 1.25rem;
}

.small-btn {
  background-color: var(--gray70);
  border-radius: 10px;
  text-align: center;
  width: 7.5rem;
  height: 2.25rem;
  font-size: 1.25rem;
}

.bottom > .small-btn {
  margin-left: 22px;
}
