apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    orgId: 1
    url: https://prometheus:9090
    isDefault: true
    jsonData:
      httpMethod: POST
      tlsSkipVerify: true
    uid: prometheus
